@import url(../../../styles/geral/variables.css);

.button-wrapper {
  max-width: 479px;
  width: 100%;
  height: auto;
  padding: 1.5px;
  border-radius: 8px;
  margin: 0 0 20px;
  position: relative;
  overflow: hidden;

  @media screen and (max-width: 1365px) {
    margin: 0 auto 20px;
  }

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    background: var(--gradient-border);
    background-size: 300% 300%;
    background-position: 0% 50%;
    border-radius: inherit;
    z-index: 0;
    opacity: 0;
    transition: background-position 0.3s ease-in-out;
  }

  & .button,
  & .restart-button {
    display: flex;
    justify-content: center;
    width: 100%;
    min-height: 56px;
    padding:  10px 20px;
    border-radius: 8px;
    background-color: var(--background-tertiary);
    position: relative;
    z-index: 1;
    transition: background-color 0.3s ease-in-out, opacity 0.3s ease-in-out;

    & .label-medium {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 8px;
      color: var(--content-primary);
      text-transform: uppercase;
    }
  }

  & .button {
    & span {
      &::after {
        content: url("../../../assets/icons/arrow-icon.svg");
        position: relative;
        width: 24px;
        height: 24px;
      }
    }
  }

  & .restart-button {
    & span {
      &::after {
        content: url("../../../assets/icons/reload-icon.svg");
        position: relative;
        width: 24px;
        height: 24px;
      }
    }
  }

  &:hover {
    &::before {
      opacity: 1;
      animation: moveGradient 4s linear infinite;
    }

    & .button,
    & .restart-button {
      background-color: var(--background-secondary);
    }
  }
}

/*Animação*/
@keyframes moveGradient {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 200% 50%;
  }
}
